html{
	height:100%;
}
body{
	height:100%;
	margin: 0;
}

header {
	position: relative;
	z-index: 5;
	overflow: hidden;
	
	height: 500px;
}
header .inner {
	padding-top: 170px;
}

#wrapper {
	padding-top: 80px; /*fix scroll top*/
}

nav {
	width: 100%;
	height: 80px;
	position: absolute; /*fix scroll top*/
	top: 500px; /*fix scroll top*/
	z-index: 4;
	overflow: hidden;
}
/*#portamento_container {
	position: relative;
}
#portamento_container nav {
	position: absolute;
}
#portamento_container nav.fixed {
	position: fixed;
}*/
nav .inner{
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1rem;
}
nav .title {
	float: left;
}
nav ul {
	float: right;
}
nav ul li {
	display: inline;
}

section {
	overflow: hidden;
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
}
section .inner{
	padding-left: 10%;
	padding-right: 10%;
}

#Schedule {
	padding-bottom: 0;
}
#Schedule .inner{
	margin-bottom: 2em;
}

footer {
	overflow: hidden;
	padding: 2.5rem;
}